.env
.env.*
*.env
!.env.template
.conda/

data/**
!data/.gitkeep
keyword/**
!keyword/.gitkeep

transcript/**
!transcript/.gitkeep

transcript_with_highlight/**
!transcript_with_highlight/.gitkeep

transcript_with_highlight_and_ai_summarize/**
!transcript_with_highlight_and_ai_summarize/.gitkeep
